DATABASE_URL="file:./db/custom.db"

# Discord OAuth (اختياري — اتركه فارغاً للوضع التجريبي)
DISCORD_CLIENT_ID=1522652038004216079
DISCORD_CLIENT_SECRET=ErKqvkDocbTIiep-qKOJbtNY9WBKQptB

# Discord ID للمستخدم الذي تريد جعله أدمن
# (في الوضع التجريبي، استخدم "demo_testadmin" ليكون أدمن)
ADMIN_DISCORD_ID=789437907952992266
